<h2><%= @restaurant.name %></h2>


<p>Location: <%= @restaurant.address %></p>
<p>Telefon: <%= @restaurant.phone_number %></p>
<p>Cuisine: <%= @restaurant.category.capitalize %></p>
<p style="color: green"><%= notice %></p>

<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %>
  (<%= link_to "Delete",
     review_path(review),
     data: { turbo_method: "delete", turbo_confirm: "Are you sure?" } %>)
  </p>
<% end %>
